# Python env
venv/
Pipfile.lock

# Other env
.env
.spark_master.env
.spark_worker.env
.streamlit/*

# Cache
.cache*
__pycache__/
storage/
minio/
dataset/
.coverage
.spark_session.txt

# Google secrets
gdrive_client_secret.json
client_secret.json
token_drive_v3.pickle

# dagster
dagster_home/logs/
dagster_home/.logs_queue/
dagster_home/.telemetry/
dagster_home/history/
dagster_home/schedules/*

# EDA
EDA.ipynb
